<div class="col-md-4">
  <div class="well well-sm">
    <h5 class="section-setup m-b-sm">
      <span class=""><strong>2. </strong></span>
      <span>Assign zip/postal codes to zones</span>
    </h5>

    <div class="focus-box">
      <div class="alert alert-info ng-hide" style="display: none;">
        Add zones in box 1 before assigning zip codes
      </div>
      <div class="zip-section">
        <%= form_for :zip_code , url: zip_codes_path, :html=>{class: "m-t-sm"}, remote: true do |f| %>
            <div class="input-group">
              <%= f.text_field :zcode,:class=>"form-control",:placeholder=>"Enter zipcode"   %>
              <input type="hidden"  value="<%= current_user.company.id%>" name="company_id">
              <input type="hidden"  value="<%= @company_zone.id%>" name="company_zone_id">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                  Add to zone
                </button>
              </span>
            </div>
          <%end%>

          <p class="text-bold text-muted m-t-sm ng-binding">Postal/zip codes for <%= @company_zone.name %></p>

          <table class="table table-condensed m-t-sm">
            <tbody>
              <%@company_zone.zip_codes.each do |zip|%>
                <tr>
                  <td class="ng-binding"><%= zip.zcode %></td>
                  <td>
                    <a class="btn btn-xs btn-default" rel="nofollow" href="/zip_codes/<%= zip.id %>?company_zone_id=<%= @company_zone.id %>" data-remote="true" data-method="DELETE">Remove</a>
                    <div class="btn-group">
                      <button data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle">Re-assign to <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <%current_user.company.company_zones.reject { |z| z.id == @company_zone.id }.each do |zone|%>
                          <li><a href="/zip_codes/re_assign_company_zone?id=<%= zip.id %>&&company_zone_id=<%= zone.id %>" data-remote="true"><%= zone.name %></a></li>
                        <%end%>
                      </ul>
                    </div>
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
          <%= link_to "Delete this zone" , company_zone_path(@company_zone),:class=>"btn btn-danger" ,:method=>"DELETE",:remote=>true %>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var zone_id = <%= @company_zone.id %>
    $('.list-group-item').each(function () {
      $(this).removeClass("active");
    });
    $('#active_class' + zone_id).addClass("active");
  </script>