<div id="page-wrapper">

  <div class="row">
    <div class="col-lg-12">
      <h1>Dashboard <small>Statistics Overview</small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
      </ol>
      <%= render 'layouts/messages' %>
    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="col-lg-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-comments fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading"><%= User.all.count - 1 %></p>
              <p class="announcement-text">Total Users!</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-check fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading"><%= Company.all.count - 1 %></p>
              <p class="announcement-text">Total Companies</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-tasks fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading"><%= ReservationSetting.all.size %></p>
              <p class="announcement-text">Total Reservations</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-comments fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading"><%= VehicleType.all.size %></p>
              <p class="announcement-text">Total Vehicles</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div><!-- /.row -->

</div><!-- /#page-wrapper -->
