<div class="col-md-5">
  <h5 class="section-setup m-b-sm">
    <span class=""><strong>3. </strong></span>
    <span>Setup rates between zones</span>
  </h5>
  <div class="focus-box">

    <div>
      <!--<div class="m-b-md">Set up zone to zone rates for
        <div class="btn-group">
          <button data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle ng-binding">Regular rate group <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="##">Regular rate group</a></li>
          </ul>
        </div>
      </div>-->
      <div>
        <select class="form-control d-ib w-md source_id" onchange="set_vehicles_rate_on_view();">
          <%current_user.company.company_zones.each do |zone|%>
            <option value="<%= zone.id %>"><%= zone.name %></option>
          <%end%>
        </select>
        <span class="m-l-sm"> to</span>
        <select  class="form-control d-ib w-md destination_id" onchange="set_vehicles_rate_on_view();">
          <%current_user.company.company_zones.each do |zone|%>
            <option value="<%= zone.id %>"><%= zone.name %></option>
          <%end%>
        </select>

      </div>
      <div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Vehicle type</th>
              <th>Base flat rate</th>
              <th>Is Active?</th>
            </tr>
          </thead>
          <tbody>
            <% current_user.company.vehicle_types.each do |v| %>
              <tr>
                <td>
                  <%= v.name %>
                </td>
                <td>
                  <div class="input-group w-sm">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control vehicle" id="<%= v.id %>">
                  </div>
                </td>

                <td id="rate_td<%= v.id %>" class="vehicle_td">
                  <!--<input type="checkbox" id="">-->
                  <small>Rate not set</small>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
        <button class="btn btn-primary" type="button" onclick="set_vehicles_zone_rate();">Save rates</button>
      </div>

    </div>



  </div>


</div>
<script type="text/javascript">
  set_vehicles_rate_on_view();
  function set_vehicles_zone_rate() {
    var ids = [];
    var values = [];
    var hash = {};
    $('.vehicle').each(function () {
      ids.push($(this).attr('id'));
      values.push($(this).val());
    });
    for (var i = 0; i < ids.length; i++) {
      hash[ids[i]] = values[i];
    }
    var source_id = $('.source_id').val();
    var destination_id = $('.destination_id').val();
    $.ajax({
      url: '/zone_rates',
      type: "POST",
      data: {
        hash: hash,
        source_id: source_id,
        destination_id: destination_id
      }
    });
  }

  function set_vehicles_rate_on_view() {
    var source_id = $('.source_id').val();
    var destination_id = $('.destination_id').val();
    $.ajax({
      url: '/zone_rates/find_zone_rate',
      type: "GET",
      data: {
        source_id: source_id,
        destination_id: destination_id
      }
    }).done(function (response) {
      if (response["status"] === "success") {
        for (var i = 0; i < response["zone_rates"].length; i++)
        {
          $('#' + response["zone_rates"][i]["vehicle_type_id"] + '.vehicle').val(response["zone_rates"][i]["zone_rate"]);
          if (response["zone_rates"][i]["zone_rate"] === '') {
            $('#' + response["zone_rates"][i]["vehicle_type_id"] + '.vehicle').attr("readonly", false);
            $('#rate_td' + response["zone_rates"][i]["vehicle_type_id"]).html('<small>Rate not set</small>');
          }
          else
          {
            if (response["zone_rates"][i]["is_active"] === false) {
              $('#' + response["zone_rates"][i]["vehicle_type_id"] + '.vehicle').attr("readonly", true);
              $('#rate_td' + response["zone_rates"][i]["vehicle_type_id"]).html('<input type="checkbox" id = "' + response["zone_rates"][i]["vehicle_type_id"] + '" onclick="set_vehicle_is_active(this)">');
            }
            else
            {
              $('#' + response["zone_rates"][i]["vehicle_type_id"] + '.vehicle').attr("readonly", false);
              $('#rate_td' + response["zone_rates"][i]["vehicle_type_id"]).html('<input type="checkbox" id = "' + response["zone_rates"][i]["vehicle_type_id"] + '" onclick="set_vehicle_is_active(this)" checked="checked">');
            }
          }
        }
      }
      else
      {
        $('.vehicle').each(function () {
          $(this).val('');
          $(this).attr("readonly", false);
        });

        $('.vehicle_td').each(function () {
          $(this).html('<small>Rate not set</small>');
        });
      }
    });
  }

  ////////////////////////////////////////////////////////////////

  function set_vehicle_is_active(element) {
    var id = $(element).attr('id');
    var source_id = $('.source_id').val();
    var destination_id = $('.destination_id').val();
    if ($(element).is(':checked')) {
      var is_active = true;
      $.ajax({
        url: '/zone_rates/set_is_active',
        type: "GET",
        data: {
          id: id,
          is_active: is_active,
          source_id: source_id,
          destination_id: destination_id
        }
      }).done(function () {
        $('#' + id + '.vehicle').attr("readonly", false);
      });
    }
    else
    {
      var is_active = false;
      $.ajax({
        url: '/zone_rates/set_is_active',
        type: "GET",
        data: {
          id: id,
          is_active: is_active,
          source_id: source_id,
          destination_id: destination_id
        }
      }).done(function () {
        $('#' + id + '.vehicle').attr("readonly", true);
      });
    }
  }





</script>