<div id="page-wrapper">

  <div class="row">
    <div class="col-lg-12">
      <h1>Dashboard <small>Statistics Overview</small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
      </ol>
      <%= render 'layouts/messages' %>
    </div>
  </div><!-- /.row -->

  <div class="row">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone1</th>
          <th>Phone2</th>
          <th>Dot Number</th>
          <th>Lcc Mc</th>
          <th>License Number</th>
          <th>Fax</th>
          <th>Website</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= current_user.company.name%></td>
          <td><%= current_user.company.phone1%></td>
          <td><%= current_user.company.phone2%></td>
          <td><%= current_user.company.dot_number%></td>
          <td><%= current_user.company.lcc_mc%></td>
          <td><%= current_user.company.license_number%></td>
          <td><%= current_user.company.fax%></td>
          <td><%= current_user.company.website%></td>
          <td><%= current_user.company.address%></td>
        </tr>
      </tbody>
    </table>    


  </div><!-- /.row -->

</div><!-- /#page-wrapper -->
