<%if @users.present?%>

  <div class="bs-example">
    <nav role="navigation" class="navbar navbar-default">
      <div class="navbar-header">
        <button data-target="#bs-example-navbar-collapse-2" data-toggle="collapse" class="navbar-toggle" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Search User</a>
      </div>
      <div id="bs-example-navbar-collapse-2" class="collapse navbar-collapse">
        <%=  form_tag admin_users_path, :class => "navbar-form navbar-left",:method => :get,:remote => true do%>
          <div class="form-group">
            <%= text_field_tag "search",'', :class=> "form_control", :placeholder=>"Search ..." , :style => "width: 290px;" %>
          </div>
        <%end%>
      </div>
    </nav>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |f|%>
        <tr>
          <td><%= f.email %></td>
          <td><%= f.first_name %></td>
          <td><%= f.roles.first.name %> </td>
        </tr>
      <%end%>
    </tbody>
  </table>
<%else%>
  <h4>No user found.</h4>
<%end%>


