<div id="page-wrapper">
  <div class="col-md-8">
    <div class="highlight-box">
      <h4 class="page-title m-b-md">Set rates for <%= @vehicle_type.name%></h4>
      <div class=" medium-bottom-margin number-edit-box">
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Distance Estimate Settings for <%= @vehicle_type.name%>
        </div>
        <div class="panel-body">
          <div id="distance">
            <div class="">
              <div class="">
                <div class="m-t-md" id="base_transfer_distance">
                  <strong>Base Transfer Distance:</strong> <span class="best_in_place"><%= @vehicle_type.base_transfer_distance ? @vehicle_type.base_transfer_distance : '0.0'%></span> mile(s)
                  <a href="/vehicle_types/get_base_transfer_distance" data-remote="true">edit</a>
                </div>
                <%if @vehicle_type.distance_estimation_settings.size > 0%>
                  <table class="table table-condensed table-striped small m-t-lg">
                    <thead>
                      <tr>
                        <th>Rate group</th>
                        <th>Up to (miles)</th>
                        <th>Base charge</th>
                        <th>Cost per <br> distance unit</th>
                        <th>Miles <br> per distance unit</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <%@vehicle_type.distance_estimation_settings.each do |setting|%>
                        <tr>
                          <td><%= RateGroup.find(setting.rate_group_id).name %></td>
                          <td><%= setting.up_to_mile %></td>
                          <td><%= setting.base_charge %></td>
                          <td><%= setting.cost_per_distance %></td>
                          <td><%= setting.miles_per_distance %></td>
                          <td>
                            <a href="/distance_estimation_settings/<%= setting.id %>/edit" class="btn btn-xs btn-primary" data-remote="true"><i class="icon-edit"></i> Edit</a>
                            <a href="/distance_estimation_settings/<%= setting.id %>" class="btn btn-xs btn-danger" data-remote="true" data-method="DELETE" data-confirm="Are you sure"><i class="icon-trash"></i> Delete</a>
                          </td>
                        </tr>
                      <%end%>
                    </tbody>
                  </table>
                <%end%>
                <a href="#add_distance_estimate_modal" data-toggle="modal" class="btn btn-primary btn-mini"><i class="icon-plus"></i> New Distance Estimate Setting</a>

              </div> <!-- /widget-content -->
            </div>
            <div id="add_distance_estimate_modal" class="modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button data-dismiss="modal" class="close">×</button>
                    <h3>Distance Estimate Settings</h3>
                  </div>
                  <form class="form form-horizontal" id="form">
                    <div class="modal-body">

                      <div class="form-group">
                        <label for="type" class="control-label col-sm-3">Rate group</label>
                        <div class="controls col-sm-8">
                          <%= select_tag 'distance_rate_group', options_for_select(current_user.company.rate_groups.collect{|r| [r.name,r.id]}),{class: "form-control"} %>
                        </div>
                      </div>


                      <div class="form-group">
                        <label for="max_volume" class="control-label col-sm-3">Up to (miles)</label>
                        <div class="controls col-sm-8">
                          <input type="text" value="" id="up_to_mile" class="form-control">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="max_volume" class="control-label col-sm-3">Base charge</label>
                        <div class="controls col-sm-8">
                          <input type="text" value="" id="base_charge" class="form-control">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="cost_per_unit" class="control-label col-sm-3">Cost Per Distance Unit</label>
                        <div class="controls col-sm-8">
                          <input type="text" value="" id="cost_per_distance" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="cost_per_mile" class="control-label col-sm-3">Miles Per Distance Unit</label>
                        <div class="controls col-sm-8">
                          <input type="text" value="" id="miles_per_distance" data-bind="value: distance_unit" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" onclick="add_distance_estimation_settings();">Add Distance Estimate</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div id="edit_distance_estimate_modal" class="modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button data-dismiss="modal" class="close">×</button>
                    <h3>Distance Estimate Settings</h3>
                  </div>
                  <div id="distance_estimation_settings_div"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          Hourly Estimate Settings for <%= @vehicle_type.name %>
        </div>
        <div class="panel-body">
          <div id="hourly">


            <div class="">

              <div class="medium-top-margin" id="hourly_minimum">
                <strong>Hourly minimum:</strong> <span class="best_in_place"><%= @vehicle_type.hourly_minimum ? @vehicle_type.hourly_minimum : '0.0'%></span> hour(s)
                <a href="/vehicle_types/get_hourly_minimum" data-remote="true">edit</a>
              </div>
              <%if @vehicle_type.hourly_estimation_settings.size > 0%>
                <table class="table table-condensed table-striped small m-t-md">
                  <thead>
                    <tr>
                      <th>Rate group</th>
                      <th>Service</th>
                      <th>Up to (hours)</th>
                      <th>Hourly Rate</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%@vehicle_type.hourly_estimation_settings.each do |setting|%>
                      <tr>
                        <td><%= RateGroup.find(setting.rate_group_id).name %></td>
                        <td><%= setting.service %></td>
                        <td><%= setting.up_to_hours %> hour(s)</td>
                        <td>$<%= setting.hourly_rate %></td>
                        <td>
                          <a href="/hourly_estimation_settings/<%= setting.id %>/edit" class="btn btn-xs btn-primary" data-remote="true"><i class="icon-edit"></i> Edit</a>
                          <a href="/hourly_estimation_settings/<%= setting.id %>" class="btn btn-xs btn-danger" data-remote="true" data-method="DELETE" data-confirm="Are you sure"><i class="icon-trash"></i> Delete</a>
                        </td>
                      </tr>
                    <%end%>
                  </tbody>

                </table>
              <%end%>
              <a href="#add_hourly_estimate_modal" data-toggle="modal" class="btn btn-primary btn-mini"><i class="icon-plus"></i> New Hourly Estimate Setting</a>

            </div> <!-- /widget-content -->


            <div id="add_hourly_estimate_modal" class="modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button data-dismiss="modal" class="close">×</button>
                    <h3>Hourly Estimate Setting</h3>
                  </div>
                  <div>
                    <div>
                      <form class="form form-horizontal" id="form_hes_new">
                        <div class="modal-body">

                          <div class="form-group">
                            <label for="type" class="control-label col-sm-3">Rate group</label>
                            <div class="controls col-sm-8">
                              <%= select_tag 'hourly_rate_group', options_for_select(current_user.company.rate_groups.collect{|r| [r.name,r.id]}),{class: "form-control"} %>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="type" class="control-label col-sm-3">Service</label>
                            <div class="controls col-sm-8">
                              <select class="form-control"><option value="">All services</option><option value="3272">Hourly Charter</option></select>
                            </div>
                          </div>


                          <div class="form-group">
                            <label for="max_volume" class="control-label col-sm-3">Up to (hours)</label>
                            <div class="controls col-sm-8">
                              <input type="text" value="" id="up_to_hours"class="form-control">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="max_weight" class="control-label col-sm-3">Hourly Rate</label>
                            <div class="controls col-sm-8">
                              <input type="text" id="hourly_rate" class="form-control">
                            </div>
                          </div>



                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" onclick="add_hourly_estimation_settings();">Add Hourly Estimate</button>
                        </div>
                      </form>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <div id="edit_hourly_estimate_modal" class="modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button data-dismiss="modal" class="close">×</button>
                    <h3>Hourly Estimate Settings</h3>
                  </div>
                  <div id="hourly_estimation_settings_div"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var id = <%= @vehicle_type.id %>
  /////////////////////////////////////////////////////////// 
  function update_base_transfer_distance()
  {
    var base_transfer_distance = $('#base_transfer_distance_input').val();
    $.ajax({
      url: '/vehicle_types/update_base_transfer_distance',
      type: "POST",
      data: {
        id: id,
        base_transfer_distance: base_transfer_distance
      }
    });
  }
  //////////////////////////////////////////////////////////
  function add_distance_estimation_settings()
  {
    $('#add_distance_estimate_modal').modal('hide');
    var rate_group_id = $('#distance_rate_group').val();
    var up_to_mile = $('#up_to_mile').val();
    var base_charge = $('#base_charge').val();
    var cost_per_distance = $('#cost_per_distance').val();
    var miles_per_distance = $('#miles_per_distance').val();
    $.ajax({
      url: '/vehicle_types/add_distance_estimation_settings',
      type: "POST",
      data: {
        id: id,
        rate_group_id: rate_group_id,
        up_to_mile: up_to_mile,
        base_charge: base_charge,
        cost_per_distance: cost_per_distance,
        miles_per_distance: miles_per_distance
      }
    });
  }

  function add_hourly_estimation_settings()
  {
    $('#add_hourly_estimate_modal').modal('hide');
    var rate_group_id = $('#hourly_rate_group').val();
    var up_to_hours = $('#up_to_hours').val();
    var service = "all";
    var hourly_rate = $('#hourly_rate').val();
    $.ajax({
      url: '/vehicle_types/add_hourly_estimation_settings',
      type: "POST",
      data: {
        id: id,
        rate_group_id: rate_group_id,
        up_to_hours: up_to_hours,
        service: service,
        hourly_rate: hourly_rate
      }
    });
  }



</script>